### HW 6

Dataset : Employee data

#### 1.Preprocess Test data and get predictions

In [42]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [43]:
data = pd.read_csv('employee.csv')
data.head(10)

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000
5,6,1/8/2017 12:58:49,United Kingdom,Full time,Developer,1.00000,No,38.0,0.0,Bachelors (4 years),No,No,5833.000000
6,7,1/9/2017 11:27:40,Canada,Full time,DBA,5.00000,No,40.0,0.0,Associates (2 years),Yes,Yes,7166.000000
7,8,12/13/2017 7:41:41,United States,Full time,DBA,0.00000,No,45.0,4.0,Bachelors (4 years),No,Yes,8750.000000
8,9,1/9/2017 19:37:30,United States,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
9,10,12/12/2017 11:44:16,New Zealand,Full time,DBA,5.00000,Yes,40.0,0.0,Bachelors (4 years),No,No,7166.000000

In [44]:
# Dimensions of training data
data.shape

(4277, 13)

In [45]:
data = data.drop(columns = ['id','timestamp','country'])

In [46]:
data.columns
data.isnull().sum()

employment_status                 0
job_title                         0
job_years                         0
is_manager                        0
hours_per_week                   17
telecommute_days_per_week        11
education                         0
is_education_computer_related    16
certifications                    0
salary                            0
dtype: int64

In [47]:
# replace NANs
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()
data = data.dropna()

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

In [49]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)
    
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.head(10)

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,...,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.78393,1,40.0,0.0,0,7187.743094,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,5.00000,0,40.0,5.0,0,10000.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,1.00000,0,40.0,0.0,1,7000.000000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1.00000,0,40.0,2.0,0,8333.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,3.00000,0,40.0,2.0,1,7137.000000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
5,1.00000,0,38.0,0.0,0,5833.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,5.00000,0,40.0,0.0,1,7166.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0.00000,0,45.0,4.0,1,8750.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,4.78393,1,40.0,0.0,0,7187.743094,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
9,5.00000,1,40.0,0.0,0,7166.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [50]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

In [51]:
# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']

# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,...,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3571,0.252676,0,-0.498388,1.807343,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3386,0.252676,0,-0.498388,-0.623129,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1210,-0.273580,0,-0.326315,-0.623129,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
2145,0.109554,1,0.458248,-0.623129,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1803,0.252676,0,2.353552,-0.623129,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478,0.252676,0,-0.498388,-0.623129,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
872,0.252676,0,-0.498388,1.199725,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3849,-0.757004,0,-0.498388,-0.015511,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
332,0.071353,0,0.137103,-0.623129,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
91,-0.341687,1,0.322688,-0.623129,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [52]:
#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [53]:
reg.predict(X_train)

array([7633.37291296, 7061.72024   , 6614.21551833, ..., 7019.68848858,
       7149.56658336, 7066.81932857])

In [58]:
y_pred = reg.predict(X_test)
y_pred

array([15882.37575116, 15939.16752744, 16931.57635248, 14920.26731667,
       15429.55833836, 15074.88232736, 15036.87486611, 15922.2348033 ,
       15966.69151864, 16039.74061246, 16114.54275271, 15784.70459278,
       15532.74006255, 17010.6605067 , 16267.25849617, 17075.84888757,
       14844.60245774, 15750.27276686, 14287.81821964, 15249.43360356,
       16432.92112563, 15443.18833439, 16912.87388962, 16597.87661731,
       17449.19012592, 16207.9360716 , 15975.34142749, 14983.22460176,
       15469.78277747, 15638.28003915, 15600.88788058, 15557.77939787,
       17020.34046041, 16397.49834754, 14372.18303158, 16111.74082504,
       15715.91188282, 16144.7969948 , 16556.77329108, 16780.41192596,
       15868.18166789, 15125.84447648, 16968.72812896, 15608.99778696,
       14987.27984474, 18453.18785149, 16153.24692258, 14986.28562796,
       17549.85569366, 14802.43052931, 15371.74764521, 15282.82819408,
       15219.38182496, 15668.80383347, 15032.08309698, 15794.27574688,
       14372.57618747, 15882.37575116, 17804.99005111, 16303.80446504,
       15784.70459278, 16305.05455282, 16004.25858925, 15578.40165377,
       16165.47940525, 15976.35748149, 15607.10170917, 15441.22596789,
       15733.66284241, 15070.61787584, 15022.85181097, 14822.73450448,
       16485.22967908, 15158.91558188, 16301.10696338, 16765.40243619,
       16111.8897411 , 15947.99879888, 15502.4877703 , 17571.89385411,
       15962.59440439, 16218.42965011, 15985.47510351, 16556.96062767,
       14936.11655241, 15426.37280514, 15635.87797307, 15811.72681786,
       15243.20098487, 15550.71236965, 17213.70130876, 15512.94892989,
       14921.46434633, 15408.82745035, 16805.42169816, 14771.17336531,
       16446.29293925, 15384.54291661, 15070.61787584, 16926.23181011,
       16301.70347726, 15914.57321686, 15972.69564517, 16079.46290703,
       14710.50105333, 16128.13169443, 16737.63218804, 16359.70238144,
       15628.18055128, 15060.02916461, 15512.94892989, 16912.55647518,
       15721.83526007, 15509.40998668, 15119.28837267, 17478.57662164,
       16157.43713995, 15426.37280514, 15939.16752744, 15512.94892989,
       17923.58441686, 16602.89156796, 15940.18745079, 16180.2506675 ,
       15460.85796675, 15534.09840709, 15807.45034357, 15399.10698228,
       16799.20431941, 14947.9524311 , 15901.45771331, 16265.42734361,
       16018.75139982, 15503.86064637, 15070.61787584, 15828.25347652,
       15301.35661902, 15586.39032691, 17203.05000244, 17210.41023142,
       16096.90772943, 17210.41023142, 15621.92720032, 18126.26933274,
       15149.1719135 , 15378.10594254, 15429.55833836, 15978.69755526,
       15459.95474555, 17325.01383262, 15863.17864611, 15384.88301539,
       15760.0870603 , 15578.40165377, 15607.10170917, 16537.06011049,
       16562.03424193, 15824.33464357, 15858.69514593, 15082.11101903,
       15517.88370152, 16408.22503125, 16593.76394437, 15792.71644567,
       17016.52157466, 15625.65824584, 15880.23303388, 15966.69151864,
       15578.40165377, 16099.75009606, 15557.54651279, 16118.88603855,
       15745.21629498, 15516.6478416 , 15301.35661902, 15736.17847963,
       16868.21931334, 17569.16647106, 15459.95474555, 15638.28003915,
       15596.25076386, 15287.26114842, 16535.31402016, 15399.10698228,
       15052.96792175, 16111.74082504, 16009.43780131, 15399.10698228,
       15296.80097549, 15426.37280514, 15958.36167045, 15651.71470485,
       15585.76351696, 17024.52875926, 15807.83873594, 15493.97775606,
       16015.30819917, 14587.54139758, 15559.07341022, 16383.53095434,
       15578.40165377, 16350.66100633, 16146.20740467, 16253.26068203,
       15940.18745079, 16303.49205333, 15945.50953409, 15539.27843778,
       15992.5443465 , 16081.03915105, 15429.61003019, 15726.50293876,
       16564.84784485, 15892.92935777, 15689.58511293, 15614.84451411,
       16302.05785881, 15547.39226863, 15249.43360356, 15703.28827632,
       15380.76160779, 16761.91336983, 15554.36235655, 15410.55790757,
       14691.81177865, 16298.06715472, 15420.90936901, 15459.95474555,
       17040.08374744, 15389.1954515 , 15715.91188282, 16495.08691774,
       16282.07052958, 16131.19981282, 15663.19488976, 16269.04534644,
       15521.78953996, 15351.9459901 , 17047.83891644, 14710.80317261,
       16364.21021558, 15296.80097549, 15420.29513131, 15827.8841669 ,
       16953.32606742, 17136.89674591, 16162.02577638, 15688.59176785,
       15484.00721796, 15252.97254678, 15166.39642202, 16360.568141  ,
       14922.09164827, 16620.48407737, 14509.60241719, 15911.41907071,
       15147.49551944, 15939.16752744, 16119.42967871, 15792.71644567,
       16305.05455282, 16135.42719797, 16303.80446504, 14382.85141566,
       15780.10586251, 16025.39072545, 15519.99289724, 16589.29071186,
       16162.04914889, 16025.39072545, 16401.66731338, 16682.6433028 ,
       15868.97417008, 15899.08370308, 15900.44204762, 16021.73383752,
       16850.62154837, 16774.08228009, 17336.43011402, 17138.60608768,
       15976.57154432, 15070.61787584, 15585.76351696, 15399.10698228,
       16746.7653634 , 14765.49252047, 15837.95074959, 14372.18303158,
       15463.82124346, 13921.47457911, 14720.70215013, 16290.47917305,
       15469.78277747, 14733.31273329, 14839.6799907 , 16966.12688679,
       15409.52582332, 15585.04218711, 15990.54047201, 14839.6799907 ,
       15792.71644567, 16433.89498342, 15721.39335067, 16544.83382513,
       15931.62621752, 15978.43113617, 15493.97775606, 17767.85168808,
       17257.54416935, 15578.40165377, 14800.05278149, 15792.71644567,
       15917.99599847, 17315.91210429, 15602.67008291, 17647.94750082,
       14777.4458594 , 15997.76212562, 15479.08659992, 15243.20098487,
       15389.1954515 , 17819.46293733, 15954.72146291, 15437.76754121,
       15792.71644567, 14925.4947999 , 15808.84181312, 15531.17756306,
       16808.0733165 , 15649.17183461, 15444.70498361, 14676.14016929,
       16933.53722917, 15074.88232736, 17098.04224476, 16239.82588709,
       15310.6985562 , 16876.36038804, 15989.91132108, 15367.46774625,
       15780.10586251, 15070.61787584, 14917.16783194, 16747.74893242,
       14540.29983327, 15959.79077244, 15611.95338875, 16820.04075154,
       15487.38161434, 14778.07447238, 15888.60616893, 15302.46019294,
       15965.83032907, 15519.99289724, 15090.08137188, 15583.68425417,
       15939.16752744, 15784.70459278, 15289.63276106, 17352.97127345,
       15733.22261794, 16966.12688679, 15607.10170917, 14555.1207058 ,
       16666.52899549, 16035.147474  , 15611.95338875, 15042.48380982,
       16661.64369649, 18139.55728698, 14740.89965983, 16847.61310435,
       15335.54198886, 15643.90550944, 15459.95474555, 15947.99879888,
       15176.19173784, 16186.31655614, 16203.73600828, 15939.16752744,
       16096.27899996, 15951.11421948, 15206.02363123, 15207.38197577,
       15572.36727176, 16131.19981282, 16291.56115999, 16082.25552335,
       15715.91188282, 14611.19686741, 16943.77788365, 16399.6559727 ,
       15951.11421948, 17267.92020348, 17203.05000244, 15620.77297885,
       17138.60608768, 15516.57095407, 14859.31198956, 14699.66622707,
       16205.62940222, 15125.84447648, 16718.65320666, 16197.71878898,
       16144.7969948 , 15745.05086025, 15552.51569235, 16767.81098347,
       17649.38489363, 15798.05851   , 16232.15762508, 15409.52582332,
       16254.20088359, 16207.56758419, 17545.56050644, 16508.38077929,
       15578.40165377, 16323.0715325 , 15453.38943119, 15502.66851263,
       15176.19173784, 15851.97565373, 15780.10586251, 16338.64844131,
       15610.22790379, 15399.10698228, 15563.8433898 , 15229.90712333,
       14916.48455355, 14892.58578175, 15638.28003915, 15218.42693842,
       16357.32171482, 15668.80383347, 14194.94435506, 15856.91042536,
       15295.23150127, 15992.5443465 , 14812.7174921 , 15858.69514593,
       15921.03467664, 15574.92061728, 16144.7969948 , 15687.03246664,
       16994.37100724, 15574.46635277, 16338.64844131, 15962.59440439,
       16327.57970039, 17275.24969791, 17031.6987233 , 15145.77645744,
       14405.56354205, 16801.64894287, 16146.20295524, 16365.56856012,
       15509.59668703, 15924.3269651 , 14376.76440857, 16445.74610081,
       15158.91558188, 15872.54291531, 15931.62621752, 14227.20724482,
       15784.70459278, 15856.91042536, 15440.02081586, 17065.51390183,
       15602.07341899, 14782.08549781, 16584.83913364, 14825.02778462,
       15879.23212367, 15443.18833439, 14737.09549641, 17699.80181837,
       16106.76496809, 15389.1954515 , 15459.95474555, 14922.09164827,
       15784.70459278, 14826.38612916, 15485.08517476, 16361.67598271,
       16144.7969948 , 15363.6169054 , 16631.77098415, 14769.03593879,
       14602.22875515, 16122.83467604, 15595.35945149, 16894.0406529 ,
       15168.77416984, 15951.11421948, 14877.54062273, 14627.62875426,
       15874.37849461, 14605.88794095, 15082.11101903, 15958.36167045,
       15124.95696157, 15510.76175344, 16059.79542621, 16143.02157948,
       15975.88826593, 16159.0600862 , 14449.38075032, 16082.47730055,
       15799.6349445 , 16239.82588709, 16302.05785881, 15596.25076386,
       15961.8620125 , 17308.49857794, 15440.02081586, 15975.88826593,
       16900.47633941, 15992.5443465 , 16795.22281229, 16300.23482759,
       14954.34518558, 16568.45356097, 15871.56263144, 16581.54733754,
       15611.95338875, 16708.75174584, 15785.92847554, 17113.53714151,
       15060.02916461, 16949.56846376, 16390.55539889, 16891.92356611,
       15375.44790645, 15485.6320132 , 15966.69151864, 16141.51473141,
       17016.52157466, 15673.73860509, 16761.91336983, 15865.14000421,
       17301.37748764, 14165.6017265 , 16319.07802944, 16488.6262263 ,
       15951.11421948, 15784.70459278, 17203.05000244, 17493.52999005,
       16416.24073198, 14952.50193832, 15638.28003915, 14676.14016929,
       15429.61003019, 15939.16752744, 17459.59906259, 15610.22790379,
       16428.58644946, 17113.65584237, 16702.40846777, 17111.54970272,
       14920.26731667, 15784.70459278, 16759.89846954, 15275.35407605,
       15605.8209344 , 16021.78796497, 14859.31198956, 15792.71644567,
       15915.0942537 , 16385.09504035, 15683.76735207, 17171.16928205,
       17461.20285389, 16131.19981282, 15989.91132108, 17157.44940175,
       15487.38161434, 15647.16186921, 15441.7082896 , 17380.28819014,
       15102.43181401, 15243.20098487, 16302.05785881, 16432.99907771,
       17217.17003672, 14656.50817044, 15951.11421948, 15815.34681901,
       15291.94956478, 15955.51010299, 15640.71028645, 16197.79674105,
       15860.25688311, 16536.87521956, 14987.81628591, 16025.39072545,
       14995.88931237, 15785.92847554, 15784.70459278, 14419.05693489,
       15909.83149611, 16629.40111448, 16909.88351682, 15939.16752744,
       15808.84181312, 15784.70459278, 15638.28003915, 15504.79399493,
       16868.16814401, 15485.6320132 , 15331.7646051 , 14444.45693399,
       14372.18303158, 15253.10244569, 14777.4458594 , 17044.54045568,
       15713.84081439, 16308.83731595, 15886.8148559 , 15252.99630068,
       15702.61802127, 16525.57992558, 15376.93449295, 15982.49492157,
       15707.6653757 , 16733.32155048, 15615.77724409, 15739.06298303,
       14896.69029987, 15784.70459278, 18235.53086962, 13501.32408813,
       15550.71236965, 15882.37575116, 15119.28652368, 16131.19981282,
       14984.12343077, 16239.82588709, 16630.39445956, 15277.68614648,
       17294.72152299, 15644.12719838, 15939.16752744, 17346.75203938,
       15503.86064637, 15777.79963788, 15882.37575116, 15777.79963788,
       14916.48455355, 16465.43854641, 14984.12343077, 16954.88742897,
       15086.36251227, 16776.39942769, 16631.77098415, 15392.97821462,
       15728.5192677 , 16037.68962547, 15851.24535997, 15349.56824229,
       15939.16752744, 15424.01646065, 14501.41126671, 15329.71666287,
       16037.49378426, 15206.02363123, 16180.2506675 , 16149.10142757,
       15574.46635277, 15466.68329273, 16188.7562208 , 16380.96856131,
       16122.83467604, 15882.37575116, 15487.38161434, 17010.69725173,
       16031.39779805, 15740.62228424, 15745.05086025, 16482.68361056,
       16265.42734361, 15829.34696087, 15389.1954515 , 16396.76192562,
       16182.39673985, 16314.96911722, 15938.09196609, 15229.90712333,
       15130.21371384, 16198.68729541, 15532.74006255, 16111.74082504,
       16453.52163092, 16514.86054509, 14498.33071051, 14656.50817044,
       17072.04489546, 15794.27574688, 15388.88954032, 15956.03668652,
       16458.90420956, 16518.09908544, 15714.34938333, 18054.465189  ,
       16025.39072545, 14984.12343077, 15583.41924086, 15420.90936901,
       14756.52115923, 15229.90712333, 16257.47901087, 15607.10170917,
       15822.02085783, 15151.74421595, 15147.49551944, 15302.46019294,
       15614.84451411, 15847.5009937 , 15574.46635277, 16252.13348207,
       16149.10142757, 16400.6817419 , 15657.06769215, 15094.51432622,
       15296.80097549, 15396.52512752, 16671.46868426, 15784.70459278,
       17125.35916145, 16025.39072545, 16695.19041303, 15091.96960699,
       16311.43277577, 15383.70628602, 15124.2231443 , 16111.4051984 ,
       16111.74082504, 14954.75175952, 16475.91608057, 14433.56566138,
       15238.20256821, 15976.08008031, 17138.60608768, 17276.42724233,
       15997.97012036, 15937.62082665, 16186.31655614, 16407.29168269,
       15411.72059906, 16862.14672053, 15336.27438074, 17591.72593794,
       14916.48455355, 15638.28003915, 14753.31321974, 15610.22790379,
       17016.52157466, 17236.10419558, 15487.38161434, 16092.11276202,
       15269.53433254, 16653.69196753, 16765.08230512, 14883.08996303,
       15469.78277747, 15296.80097549, 15636.56125145, 15941.61701431,
       15407.32810459, 15682.66096802, 15784.70459278, 15898.39722642,
       16258.12270232, 16639.52208316, 15355.18263302, 16257.47901087,
       17273.87387059, 17421.6356882 , 15807.45034357, 16584.83913364,
       18007.79387023, 16030.46165256, 16430.60101237, 16951.18205541,
       15512.94892989, 15353.29367968, 15856.08791465, 16119.42967871,
       15578.40165377, 15464.3770681 , 16104.73772279, 15951.11421948,
       15940.18745079, 15813.34935474, 16158.99644116, 15432.60542383,
       17072.78681367, 16933.36449559, 15648.28128025, 16967.1145373 ,
       14569.77291188, 16614.38552296, 17010.6615628 , 16159.0600862 ,
       15868.18166789, 16267.74129294, 15493.97775606, 15792.71644567,
       15860.25688311, 15530.43383792, 15261.41546446, 15868.18166789,
       15607.10170917, 15320.97184124, 14509.15216099, 16765.13642909,
       14954.34518558, 16692.42862238, 16695.19041303, 15935.71421828,
       15485.6320132 , 16708.57554699, 16186.37700289, 15578.40165377,
       15457.35762258, 16027.91878233, 15856.91042536, 15959.12352204,
       15559.07341022, 15421.43483523, 15026.63457409, 16159.52930176,
       15914.75531244, 15807.45034357, 15917.99599847, 16772.76952668,
       16527.8938749 , 15512.88776438, 15466.00001435, 15951.11421948,
       16646.42319022, 15694.88107331, 16943.77788365, 16263.12111898,
       15880.53416323, 17547.8233636 , 17098.91509765, 15992.5443465 ,
       15329.5923853 , 16257.47901087, 15612.09857207, 16902.92470816,
       14075.90861672])

2.Compute Mean Absolute Error, Mean Square error for test data.

In [59]:
# Normalized MSE (Dividing by mean)
mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test, y_pred)/np.mean(y_test)
print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)

Mean Absolute Error: 8865.251617973418
Mean Squared Error: 11419.363237802598

3.Optional : Read about Ridge and Lasso Regression, implement them and compute evaluation metrics. Do they perform better than Linear Regression?

In [61]:
from sklearn.linear_model import Ridge, Lasso

In [65]:
# Train Ridge and Lasso Regression models
ridge_model = Ridge(alpha=1.0)  

ridge_model.fit(X_train, y_train)

#predictions on the test set
ridge_predictions = ridge_model.predict(X_test)

#Compute evaluation metrics (MAE and MSE)
ridge_mae = mean_absolute_error(y_test, ridge_predictions)
ridge_mse = mean_squared_error(y_test, ridge_predictions)/np.mean(y_test)

print("Ridge Regression Evaluation Metrics:")
print("Mean Absolute Error (MAE):", ridge_mae)
print("Mean Squared Error (MSE):", ridge_mse)

Ridge Regression Evaluation Metrics:
Mean Absolute Error (MAE): 8818.50206826804
Mean Squared Error (MSE): 11301.697420397326

In [66]:
lasso_model = Lasso(alpha=1.0) 

lasso_model.fit(X_train, y_train)

lasso_predictions = lasso_model.predict(X_test)

lasso_mae = mean_absolute_error(y_test, lasso_predictions)
lasso_mse = mean_squared_error(y_test, lasso_predictions)/np.mean(y_test)

print("Lasso Regression Evaluation Metrics:")
print("Mean Absolute Error (MAE):", lasso_mae)
print("Mean Squared Error (MSE):", lasso_mse)

Lasso Regression Evaluation Metrics:
Mean Absolute Error (MAE): 8726.180072087904
Mean Squared Error (MSE): 11071.134282134763

#### Compare to the MAE, MSE results from linear regression, Ridge and Lasso Regression preform better than Linear Regression